In [1]:
print("Hi 0807")

Hi 0807

In [2]:
變數一=1

In [3]:
變數一

1

In [6]:
age, name = 18, "Yan-Jhen"

In [7]:
age, name

(18, 'Yan-Jhen')

In [8]:
變數一 = "變數二"

In [10]:
變數一

'變數二'

In [11]:
早餐 = 100

In [12]:
午餐 = 200

In [13]:
餐費 = 早餐 + 午餐

In [14]:
餐費

300

In [15]:
三天餐費 = 餐費*3

In [16]:
print("三天餐費")

三天餐費

In [17]:
三天餐費

900

In [18]:
早餐 = 50

In [19]:
餐費 = 早餐 + 午餐

In [20]:
print(餐費)

250

In [21]:
三天餐費 = 餐費*3

In [22]:
print(三天餐費)

750

In [26]:
d = 2
e = 3
f = 4

In [24]:
d, e, f

NameError: name 'e' is not defined

In [27]:
d, e, f

(2, 3, 4)

In [28]:
週三氣溫 = 33
週四氣溫 = 32
週五氣溫 = 33
週六氣溫 = 33

In [29]:
四天溫度平均 = (週三氣溫 + 週四氣溫 + 週五氣溫 + 週六氣溫)/4

In [30]:
print(四天溫度平均)

32.75

In [31]:
週三氣溫, 週四氣溫, 週五氣溫, 週六氣溫 = 33, 32, 33, 33

In [32]:
週三氣溫, 週四氣溫, 週五氣溫, 週六氣溫

(33, 32, 33, 33)

In [33]:
四天溫度平均 = (週三氣溫 + 週四氣溫 + 週五氣溫 + 週六氣溫)/4

In [34]:
print(四天溫度平均)

32.75

In [35]:
print((週三氣溫 + 週四氣溫 + 週五氣溫 + 週六氣溫)/4)

32.75

In [36]:
日花費 = 300

In [37]:
周花費 = 日花費*7

In [38]:
月花費 = 周花費*4

In [39]:
print(周花費, 月花費)

2100 8400